.btn--subscribe {
  padding: 14px 26px;
  white-space: normal;
  background-color: $white;
  color: #00619E;
  font-weight: bold;
  margin-top: 10px;

  &:hover {
    cursor: pointer;
    background-color: darken($white, 10%);
  }
}

