img {
  max-width: 100%;
}

.logo {
  max-width: 178px;
}

.banner {
  background-color: #EFEFEF;
  padding: 10px 30px;

  @include media-breakpoint-up(md) {
    padding: 10px;
  }
}

.banner-ad {
  margin: 0 auto;
  display: block;
  max-width: 100%;

  @include media-breakpoint-up(md) {
    max-width: 728px;
  }
}

.chat-bubble-white {
  display: inline-block;
  position: relative;
  font-style: normal;
  background-image: url('../img/material-chat-bubble-white.svg');
  background-size: cover;
  font-size: rem-calc(11);
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  vertical-align: middle;
  padding: 4px;
  font-weight: bold;
  text-align: center;
  margin-right: 8px;
}

.image-group {
  display: flex;
  align-items: flex-start;
}
