.arrow-bullets {
  padding-left: 0;

  li {
    list-style-type: none;
    padding-left: 20px;
    position: relative;

    &:before {
      content: "";
      background-image: url("../img/material-forward-arrow.svg");
      width: 15px;
      height: 15px;
      background-size: cover;
      position: absolute;
      left: 0;
      top: 5px;
    }
  }
}

.footer-links {
  li {
    padding-right: 5px;
    border-right: 1px solid #00619E;
    line-height: 1;

    &:last-child {
      border: 0;
    }
  }

  .list-inline-item {
    margin-right: 3px;
  }
}
