.secondary-nav {
  padding: 20px 0 28px;
  margin-top: 45px;

  h4 {
    @include media-breakpoint-down(sm) {
      font-size: rem-calc(16);
    }
  }
}

.secondary-nav__group {
  border-bottom: 1px solid rgba(255, 255, 255, .28);
  padding: 10px 0 8px;

  h4 {
    margin-bottom: 0;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 12px;
    border: 0;
  }
}

.secondary-nav__heading {
  border-bottom: 1px solid rgba(255, 255, 255, .28);
  margin-bottom: 0;
  padding: 10px 0 8px;

  @include media-breakpoint-up(md) {
    margin-bottom: 10px;
    border: 0;
  }
}

.secondary-nav__list {
  margin-bottom: 0;

  @include media-breakpoint-up(md) {
    display: block;
  }

  li {
    @include media-breakpoint-down(sm) {
      padding: 8px 0;
    }
  }

  a {
    display: block;
    width: 100%;
  }
}

.secondary-nav__link {
  display: flex;
  justify-content: space-between;

  &:hover {
    text-decoration: none;
  }

  .fa {
    font-size: rem-calc(25);
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 6px;
    pointer-events: none;

    .fa {
      display: none;
    }
  }
}

.secondary-nav__newsletter {
  border-top: 1px solid $white;
  border-bottom: 1px solid $white;
  padding: 14px 0 20px;
  margin: 20px 0;

  @include media-breakpoint-up(md) {
    margin-top: 14px;
    padding: 8px 0 20px;
  }
}

.secondary-nav__social {
  h4 {
    margin-bottom: 14px;
  }

  .fa {
    margin-right: 8px;
  }
}
