.sidebar {
  h3 {
    padding: 10px;
  }
}

.sidebar__link {
  color: #4A4A4A;
}

.sidebar__list {
  padding: 10px;

  li {
    padding-bottom: 5px;
  }
}

.sidebar-talk {
  color: #00619E;
  margin-bottom: 30px;
}

.sidebar-talk__links {
  background-color: #00619E;
  display: flex;
  justify-content: space-around;
  padding: 8px 0;

  i {
    display: block;
    text-align: center;
  }

  a {
    color: $white;
    line-height: 1;

    &:hover {
      text-decoration: none;
    }
  }
}

.sidebar-ad {
  border: 1px solid #00619E;
}

.sidebar-insight,
.sidebar-blog,
.sidebar-ad {
  @include media-breakpoint-down(sm) {
    max-width: 310px;
    margin: 0 auto 30px;
  }
}

.sidebar-insight {
  margin-bottom: 40px;

  @include media-breakpoint-up(lg) {
    margin-top: -96px;
  }

  h3 {
    margin-bottom: 14px;
  }

  li {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #efefef;
  }
}

.sidebar-insight__img {
  max-width: 60px;
  margin-right: 24px;
}

.sidebar-blog {
  margin-bottom: 30px;

  img {
    padding: 5px 10px 0 10px;
  }

  .arrow-bullets {
    padding: 0 10px 10px;
  }
}
