.social-icons-main {
  padding: 0;
  max-width: 312px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  li {
    display: inline-block;
  }

  a {
    font-size: rem-calc(20);
    background-color: grey;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: $white;

    &:hover {
      text-decoration: none;
    }
  }

  .facebook {
    background-color: #36609F;

    &:hover {
      background-color: #C3CFE2;
      color: #36609F;
    }
  }

  .twitter {
    background-color: #3AA9E0;

    &:hover {
      background-color: #BFE5F6;
      color: #3AA9E0;
    }
  }

  .google {
    background-color: #DC4E41;

    &:hover {
      background-color: #F5CAC6;
      color: #DC4E41;
    }
  }

  .pinterest {
    background-color: #CA2027;

    &:hover {
      background-color: #EFBCBE;
      color: #CA2027;
    }
  }

  .linkedin {
    background-color: #066C9A;

    &:hover {
      background-color: #B4D3E1;
      color: #066C9A;
    }
  }

  .email {
    background-color: #6D1874;

    &:hover {
      background-color: #D3BAD5;
      color: #6D1874;
    }
  }
}

