.navbar {
  margin-bottom: 34px;
}

.callout {
  margin-bottom: 37px;
  padding: 10px;

  @include media-breakpoint-up(sm) {
    padding: 20px;
  }
}

.callout__img {
  margin-bottom: 10px;

  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

.footer {
  padding: 20px 0 38px;
}
