@font-face {
  font-family: 'metabook roman';
  src: url('../fonts/meta_book_roman.eot'); /* IE9 Compat Modes */
  src: url('../fonts/meta_book_roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/meta_book_roman.woff') format('woff'), /* Modern Browsers */
       url('../fonts/meta_book_roman.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/meta_book_roman.svg#503f8125702ed0c54715dfe27309cc7a') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: rem-calc(15);
  line-height: 1.6;
  color: #4A4A4A;
}

a {
  color: #00619E;

  &:hover {
    color: #00548C;
  }
}

h1 {
  font-family: 'metabook roman', Arial, Helvetica, sans-serif;
  font-size: rem-calc(36);
  line-height: 1;

  @include media-breakpoint-up(md) {
    font-size: rem-calc(50);
  }
}

h2 {
  font-size: rem-calc(28);
  line-height: 1.2;
  font-weight: 700;

  @include media-breakpoint-up(md) {
    font-size: rem-calc(32);
  }
}

h3 {
  font-size: rem-calc(22);
  line-height: 1.2;
  font-weight: 700;

  @include media-breakpoint-up(md) {
    font-size: rem-calc(26);
  }
}

h4,
.h4 {
  font-size: rem-calc(18);
  line-height: 1.2;
  font-weight: 700;
}

.subheading {
  font-size: rem-calc(24);
  color: #00619E;
  margin-bottom: 18px;
}

.footer {
  font-size: rem-calc(14);
}

.copyright {
  color: #4A4A4A;
  margin-bottom: 4px;
}

