.p0 {
  padding: 0;
}

.m0 {
  margin: 0;
}

.border-bottom {
  border-bottom: 1px solid #efefef;
}

.bg-gray {
  background-color: #f0f0f0;
}

.bg-dark-gray {
  background-color: #737277;
}

.bg-purple {
  background-color: #711972;
}

.bg-blue {
  background-color: #00619E;
}
